@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    /*overflow: hidden;*/
}

* {
    @apply scrollbar-thin;
}

@keyframes timer {
    0% {
        stroke-dashoffset: 0;
    }

    98%, 100% {
        stroke-dashoffset: var(--circle-circumference);
    }
}

@keyframes modal-open {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modal-close {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

